In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns

from fancyimpute import BiScaler, KNN, NuclearNormMinimization, SoftImpute, MICE
import patsy

from sklearn import metrics
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.cross_validation import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.grid_search import GridSearchCV
from sklearn import preprocessing

from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.cross_validation import cross_val_predict

/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

### Imputing Missing Data

In [2]:
df=pd.read_csv('../assets/titanic.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [3]:
#creating data frame to conduct data imputation techniques 

list_of_cols_i_want = ['Survived', 'Pclass', 'Sex','SibSp','Parch','Age', 'Fare'];

df1=df[list_of_cols_i_want];
df1.head()

   Survived  Pclass     Sex  SibSp  Parch   Age     Fare
0         0       3    male      1      0  22.0   7.2500
1         1       1  female      1      0  38.0  71.2833
2         1       3  female      0      0  26.0   7.9250
3         1       1  female      1      0  35.0  53.1000
4         0       3    male      0      0  35.0   8.0500

In [4]:
df_impute=df1.copy()

df_impute['Sex']=df['Sex'].apply(lambda x: '1' if x =='female' else '2')

df_impute.head()

   Survived  Pclass Sex  SibSp  Parch   Age     Fare
0         0       3   2      1      0  22.0   7.2500
1         1       1   1      1      0  38.0  71.2833
2         1       3   1      0      0  26.0   7.9250
3         1       1   1      1      0  35.0  53.1000
4         0       3   2      0      0  35.0   8.0500

In [5]:
X=df_impute.as_matrix().astype(float)

In [6]:
X

array([[  0.    ,   3.    ,   2.    , ...,   0.    ,  22.    ,   7.25  ],
       [  1.    ,   1.    ,   1.    , ...,   0.    ,  38.    ,  71.2833],
       [  1.    ,   3.    ,   1.    , ...,   0.    ,  26.    ,   7.925 ],
       ...,
       [  0.    ,   3.    ,   1.    , ...,   2.    ,      nan,  23.45  ],
       [  1.    ,   1.    ,   2.    , ...,   0.    ,  26.    ,  30.    ],
       [  0.    ,   3.    ,   2.    , ...,   0.    ,  32.    ,   7.75  ]])

In [7]:
missing_mask = np.random.rand(*X.shape) < 0.1
X_incomplete = X.copy()
# X_incomplete[missing_mask] = np.nan
missing_mask

array([[False,  True, False, ...,  True, False,  True],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [ True, False, False, ...,  True, False,  True]], dtype=bool)

### KNN Imputation

In [8]:
knnImpute = KNN(k=3)
X_filled_knn = knnImpute.complete(X_incomplete)

Imputing row 1/891 with 0 missing, elapsed time: 0.163
Imputing row 101/891 with 0 missing, elapsed time: 0.248
Imputing row 201/891 with 0 missing, elapsed time: 0.249
Imputing row 301/891 with 1 missing, elapsed time: 0.250
Imputing row 401/891 with 0 missing, elapsed time: 0.251
Imputing row 501/891 with 0 missing, elapsed time: 0.252
Imputing row 601/891 with 0 missing, elapsed time: 0.253
Imputing row 701/891 with 0 missing, elapsed time: 0.254
Imputing row 801/891 with 0 missing, elapsed time: 0.254

### Convex Optimization

In [9]:
X_filled_nnm = NuclearNormMinimization().complete(X_incomplete)

----------------------------------------------------------------------------
	SCS v1.2.6 - Splitting Conic Solver
	(c) Brendan O'Donoghue, Stanford University, 2012-2016
----------------------------------------------------------------------------
Lin-sys: sparse-indirect, nnz in A = 1252462, CG tol ~ 1/iter^(2.00)
eps = 1.00e-03, alpha = 1.50, max_iters = 2500, normalize = 1, scale = 1.00
Variables n = 818878, constraints m = 831352
Cones:	primal zero / dual free vars: 408990
	linear vars: 18711
	sd vars: 403651, sd blks: 1
Setup time: 1.18e-01s
----------------------------------------------------------------------------
 Iter | pri res | dua res | rel gap | pri obj | dua obj | kap/tau | time (s)
----------------------------------------------------------------------------
     0|      inf       inf       nan      -inf       inf       inf  1.03e+00
   100| 2.61e-03  1.45e-03  3.59e-04  2.68e+03  2.69e+03  1.70e-12  1.53e+02
   140| 6.01e-04  3.68e-04  2.71e-04  2.71e+03  2.70e+03  1.70e-12  2.11e+02
----------------------------------------------------------------------------
Status: Solved
Timing: Solve time: 2.11e+02s
	Lin-sys: avg # CG iterations: 3.75, avg solve time: 1.16e-01s
	Cones: avg projection time: 1.35e+00s
----------------------------------------------------------------------------
Error metrics:
dist(s, K) = 6.6657e-07, dist(y, K*) = 7.0630e-09, s'y/|s||y| = 1.0773e-12
|Ax + s - b|_2 / (1 + |b|_2) = 6.0147e-04
|A'y + c|_2 / (1 + |c|_2) = 3.6767e-04
|c'x + b'y| / (1 + |c'x| + |b'y|) = 2.7082e-04
----------------------------------------------------------------------------
c'x = 2705.8282, -b'y = 2704.3627
============================================================================

### Spectral Regulation Algorithm

In [10]:
softImpute = SoftImpute()
biscaler = BiScaler()

In [11]:
X_incomplete_normalized = biscaler.fit_transform(X_incomplete)

[BiScaler] Initial log residual value = 11.912883
[BiScaler] Iter 1: log residual = 3.977100, log improvement ratio=7.935783
[BiScaler] Iter 2: log residual = 3.175702, log improvement ratio=0.801398
[BiScaler] Iter 3: log residual = 2.355897, log improvement ratio=0.819804
[BiScaler] Iter 4: log residual = 1.557900, log improvement ratio=0.797997
[BiScaler] Iter 5: log residual = 0.796267, log improvement ratio=0.761634
[BiScaler] Iter 6: log residual = 0.076422, log improvement ratio=0.719845
[BiScaler] Iter 7: log residual = -0.610033, log improvement ratio=0.686455
[BiScaler] Iter 8: log residual = -1.273936, log improvement ratio=0.663903
[BiScaler] Iter 9: log residual = -1.923431, log improvement ratio=0.649495
[BiScaler] Iter 10: log residual = -2.563711, log improvement ratio=0.640280
[BiScaler] Iter 11: log residual = -3.197936, log improvement ratio=0.634225
[BiScaler] Iter 12: log residual = -3.828048, log improvement ratio=0.630111
[BiScaler] Iter 13: log residual = -4.455275, log improvement ratio=0.627227
[BiScaler] Iter 14: log residual = -5.080429, log improvement ratio=0.625154
[BiScaler] Iter 15: log residual = -5.704064, log improvement ratio=0.623635
[BiScaler] Iter 16: log residual = -6.326571, log improvement ratio=0.622507
[BiScaler] Iter 17: log residual = -6.948231, log improvement ratio=0.621661
[BiScaler] Iter 18: log residual = -7.569254, log improvement ratio=0.621023
[BiScaler] Iter 19: log residual = -8.189793, log improvement ratio=0.620539
[BiScaler] Iter 20: log residual = -8.809965, log improvement ratio=0.620172
[BiScaler] Iter 21: log residual = -9.429857, log improvement ratio=0.619892
[BiScaler] Iter 22: log residual = -10.049537, log improvement ratio=0.619680
[BiScaler] Iter 23: log residual = -10.669054, log improvement ratio=0.619518
[BiScaler] Iter 24: log residual = -11.288449, log improvement ratio=0.619394
[BiScaler] Iter 25: log residual = -11.907750, log improvement ratio=0.619301
[BiScaler] Iter 26: log residual = -12.526979, log improvement ratio=0.619229
[BiScaler] Iter 27: log residual = -13.146154, log improvement ratio=0.619175
[BiScaler] Iter 28: log residual = -13.765289, log improvement ratio=0.619134
[BiScaler] Iter 29: log residual = -14.384393, log improvement ratio=0.619104
[BiScaler] Iter 30: log residual = -15.003473, log improvement ratio=0.619080
[BiScaler] Iter 31: log residual = -15.622536, log improvement ratio=0.619063
[BiScaler] Iter 32: log residual = -16.241586, log improvement ratio=0.619050
[BiScaler] Iter 33: log residual = -16.860626, log improvement ratio=0.619040
[BiScaler] Iter 34: log residual = -17.479659, log improvement ratio=0.619033
[BiScaler] Iter 35: log residual = -18.098687, log improvement ratio=0.619028
[BiScaler] Iter 36: log residual = -18.717712, log improvement ratio=0.619025
[BiScaler] Iter 37: log residual = -19.336734, log improvement ratio=0.619022
[BiScaler] Iter 38: log residual = -19.955754, log improvement ratio=0.619020
[BiScaler] Iter 39: log residual = -20.574773, log improvement ratio=0.619019
[BiScaler] Iter 40: log residual = -21.193792, log improvement ratio=0.619018
[BiScaler] Iter 41: log residual = -21.812810, log improvement ratio=0.619018
[BiScaler] Iter 42: log residual = -22.431828, log improvement ratio=0.619018
[BiScaler] Iter 43: log residual = -23.050846, log improvement ratio=0.619018
[BiScaler] Iter 44: log residual = -23.669865, log improvement ratio=0.619018
[BiScaler] Iter 45: log residual = -24.288883, log improvement ratio=0.619019
[BiScaler] Iter 46: log residual = -24.907902, log improvement ratio=0.619019
[BiScaler] Iter 47: log residual = -25.526921, log improvement ratio=0.619019
[BiScaler] Iter 48: log residual = -26.145941, log improvement ratio=0.619020
[BiScaler] Iter 49: log residual = -26.764961, log improvement ratio=0.619020
[BiScaler] Iter 50: log residual = -27.383981, log improvement ratio=0.619020
[BiScaler] Iter 51: log residual = -28.003002, log improvement ratio=0.619021
[BiScaler] Iter 52: log residual = -28.622023, log improvement ratio=0.619021
[BiScaler] Iter 53: log residual = -29.241044, log improvement ratio=0.619021
[BiScaler] Iter 54: log residual = -29.860065, log improvement ratio=0.619021
[BiScaler] Iter 55: log residual = -30.479087, log improvement ratio=0.619021
[BiScaler] Iter 56: log residual = -31.098108, log improvement ratio=0.619022
[BiScaler] Iter 57: log residual = -31.717130, log improvement ratio=0.619022
[BiScaler] Iter 58: log residual = -32.336153, log improvement ratio=0.619023
[BiScaler] Iter 59: log residual = -32.955175, log improvement ratio=0.619022
[BiScaler] Iter 60: log residual = -33.574197, log improvement ratio=0.619022
[BiScaler] Iter 61: log residual = -34.193220, log improvement ratio=0.619023
[BiScaler] Iter 62: log residual = -34.812243, log improvement ratio=0.619023
[BiScaler] Iter 63: log residual = -35.431266, log improvement ratio=0.619024
[BiScaler] Iter 64: log residual = -36.050289, log improvement ratio=0.619023
[BiScaler] Iter 65: log residual = -36.669312, log improvement ratio=0.619023
[BiScaler] Iter 66: log residual = -37.288335, log improvement ratio=0.619022
[BiScaler] Iter 67: log residual = -37.907364, log improvement ratio=0.619029
[BiScaler] Iter 68: log residual = -38.526380, log improvement ratio=0.619016
[BiScaler] Iter 69: log residual = -39.145404, log improvement ratio=0.619025
[BiScaler] Iter 70: log residual = -39.764425, log improvement ratio=0.619021
[BiScaler] Iter 71: log residual = -40.383461, log improvement ratio=0.619036
[BiScaler] Iter 72: log residual = -41.002478, log improvement ratio=0.619016
[BiScaler] Iter 73: log residual = -41.621509, log improvement ratio=0.619031
[BiScaler] Iter 74: log residual = -42.240508, log improvement ratio=0.618999
[BiScaler] Iter 75: log residual = -42.859574, log improvement ratio=0.619066
[BiScaler] Iter 76: log residual = -43.478545, log improvement ratio=0.618971
[BiScaler] Iter 77: log residual = -44.097496, log improvement ratio=0.618951
[BiScaler] Iter 78: log residual = -44.716594, log improvement ratio=0.619097
[BiScaler] Iter 79: log residual = -45.335710, log improvement ratio=0.619117
[BiScaler] Iter 80: log residual = -45.954800, log improvement ratio=0.619089
[BiScaler] Iter 81: log residual = -46.573425, log improvement ratio=0.618625
[BiScaler] Iter 82: log residual = -47.192706, log improvement ratio=0.619281
[BiScaler] Iter 83: log residual = -47.811780, log improvement ratio=0.619074
[BiScaler] Iter 84: log residual = -48.430679, log improvement ratio=0.618899
[BiScaler] Iter 85: log residual = -49.050673, log improvement ratio=0.619994
[BiScaler] Iter 86: log residual = -49.667868, log improvement ratio=0.617194
[BiScaler] Iter 87: log residual = -50.287622, log improvement ratio=0.619754
[BiScaler] Iter 88: log residual = -50.903964, log improvement ratio=0.616342
[BiScaler] Iter 89: log residual = -51.525793, log improvement ratio=0.621829
[BiScaler] Iter 90: log residual = -52.148015, log improvement ratio=0.622223
[BiScaler] Iter 91: log residual = -52.768031, log improvement ratio=0.620016
[BiScaler] Iter 92: log residual = -53.393105, log improvement ratio=0.625073
[BiScaler] Iter 93: log residual = -53.981917, log improvement ratio=0.588813
[BiScaler] Iter 94: log residual = -54.614443, log improvement ratio=0.632526
[BiScaler] Iter 95: log residual = -55.239247, log improvement ratio=0.624803
[BiScaler] Iter 96: log residual = -55.872645, log improvement ratio=0.633398
[BiScaler] Iter 97: log residual = -56.481953, log improvement ratio=0.609308
[BiScaler] Iter 98: log residual = -57.072049, log improvement ratio=0.590096
[BiScaler] Iter 99: log residual = -57.713464, log improvement ratio=0.641415
[BiScaler] Iter 100: log residual = -58.375912, log improvement ratio=0.662448

In [12]:
# Spectral Regulization Algorithm normalized
X_filled_softnorm = softImpute.complete(X_incomplete_normalized)
X_filled_softnorm

[SoftImpute] Max Singular Value of X_init = 45.137077
[SoftImpute] Iter 1: observed MAE=0.022666 rank=6
[SoftImpute] Iter 2: observed MAE=0.022674 rank=6
[SoftImpute] Iter 3: observed MAE=0.022683 rank=6
[SoftImpute] Iter 4: observed MAE=0.022692 rank=6
[SoftImpute] Iter 5: observed MAE=0.022700 rank=6
[SoftImpute] Iter 6: observed MAE=0.022709 rank=6
[SoftImpute] Iter 7: observed MAE=0.022717 rank=6
[SoftImpute] Iter 8: observed MAE=0.022725 rank=6
[SoftImpute] Iter 9: observed MAE=0.022731 rank=6
[SoftImpute] Iter 10: observed MAE=0.022737 rank=6
[SoftImpute] Iter 11: observed MAE=0.022743 rank=6
[SoftImpute] Iter 12: observed MAE=0.022747 rank=6
[SoftImpute] Iter 13: observed MAE=0.022752 rank=6
[SoftImpute] Iter 14: observed MAE=0.022755 rank=6
[SoftImpute] Iter 15: observed MAE=0.022758 rank=6
[SoftImpute] Iter 16: observed MAE=0.022761 rank=6
[SoftImpute] Iter 17: observed MAE=0.022763 rank=6
[SoftImpute] Iter 18: observed MAE=0.022765 rank=6
[SoftImpute] Iter 19: observed MAE=0.022767 rank=6
[SoftImpute] Iter 20: observed MAE=0.022768 rank=6
[SoftImpute] Iter 21: observed MAE=0.022770 rank=6
[SoftImpute] Iter 22: observed MAE=0.022771 rank=6
[SoftImpute] Iter 23: observed MAE=0.022772 rank=6
[SoftImpute] Iter 24: observed MAE=0.022773 rank=6
[SoftImpute] Iter 25: observed MAE=0.022773 rank=6
[SoftImpute] Iter 26: observed MAE=0.022774 rank=6
[SoftImpute] Iter 27: observed MAE=0.022775 rank=6
[SoftImpute] Iter 28: observed MAE=0.022775 rank=6
[SoftImpute] Iter 29: observed MAE=0.022776 rank=6
[SoftImpute] Iter 30: observed MAE=0.022776 rank=6
[SoftImpute] Iter 31: observed MAE=0.022776 rank=6
[SoftImpute] Iter 32: observed MAE=0.022777 rank=6
[SoftImpute] Iter 33: observed MAE=0.022777 rank=6
[SoftImpute] Iter 34: observed MAE=0.022777 rank=6
[SoftImpute] Stopped after iteration 34 for lambda=0.902742

array([[-0.72636572,  0.33722682,  0.14149873, ..., -0.99269169,
        -0.50785266, -0.46142699],
       [ 0.60513798, -0.99905096, -0.98817914, ..., -1.28087936,
         0.33773145,  1.47973364],
       [ 2.17122223,  0.52114378, -1.19068743, ..., -0.33375358,
        -0.24715491, -0.46674274],
       ...,
       [-1.00367818, -0.12878502, -0.96942763, ...,  2.0062342 ,
        -0.05229809,  0.10572413],
       [ 1.92962341, -1.43088132,  0.29474125, ..., -0.57416249,
        -0.23851651,  0.62422081],
       [-0.81019345,  1.47992769,  1.21270401, ..., -0.34580623,
         0.5494491 , -1.24968775]])

In [13]:
X_filled_softimpute = biscaler.inverse_transform(X_filled_softnorm)

X_filled_softimpute

array([[  5.55111512e-17,   3.00000000e+00,   2.00000000e+00, ...,
          0.00000000e+00,   2.20000000e+01,   7.25000000e+00],
       [  1.00000000e+00,   1.00000000e+00,   1.00000000e+00, ...,
          5.55111512e-17,   3.80000000e+01,   7.12833000e+01],
       [  1.00000000e+00,   3.00000000e+00,   1.00000000e+00, ...,
          0.00000000e+00,   2.60000000e+01,   7.92500000e+00],
       ...,
       [  5.55111512e-17,   3.00000000e+00,   1.00000000e+00, ...,
          2.00000000e+00,   2.83079986e+01,   2.34500000e+01],
       [  1.00000000e+00,   1.00000000e+00,   2.00000000e+00, ...,
          0.00000000e+00,   2.60000000e+01,   3.00000000e+01],
       [  0.00000000e+00,   3.00000000e+00,   2.00000000e+00, ...,
          0.00000000e+00,   3.20000000e+01,   7.75000000e+00]])

In [14]:
# Spectral Regulization Algorithm no biscale

X_filled_soft = softImpute.complete(X_incomplete)

X_filled_soft

[SoftImpute] Max Singular Value of X_init = 1834.310889
[SoftImpute] Iter 1: observed MAE=0.676697 rank=3
[SoftImpute] Iter 2: observed MAE=0.676640 rank=3
[SoftImpute] Iter 3: observed MAE=0.676576 rank=3
[SoftImpute] Iter 4: observed MAE=0.676507 rank=3
[SoftImpute] Iter 5: observed MAE=0.676436 rank=3
[SoftImpute] Iter 6: observed MAE=0.676362 rank=3
[SoftImpute] Iter 7: observed MAE=0.676287 rank=3
[SoftImpute] Iter 8: observed MAE=0.676211 rank=3
[SoftImpute] Iter 9: observed MAE=0.676135 rank=3
[SoftImpute] Iter 10: observed MAE=0.676060 rank=3
[SoftImpute] Iter 11: observed MAE=0.675985 rank=3
[SoftImpute] Iter 12: observed MAE=0.675914 rank=3
[SoftImpute] Iter 13: observed MAE=0.675844 rank=3
[SoftImpute] Iter 14: observed MAE=0.675777 rank=3
[SoftImpute] Iter 15: observed MAE=0.675713 rank=3
[SoftImpute] Iter 16: observed MAE=0.675652 rank=3
[SoftImpute] Iter 17: observed MAE=0.675597 rank=3
[SoftImpute] Iter 18: observed MAE=0.675553 rank=3
[SoftImpute] Iter 19: observed MAE=0.675509 rank=3
[SoftImpute] Iter 20: observed MAE=0.675469 rank=3
[SoftImpute] Iter 21: observed MAE=0.675430 rank=3
[SoftImpute] Iter 22: observed MAE=0.675392 rank=3
[SoftImpute] Iter 23: observed MAE=0.675354 rank=3
[SoftImpute] Iter 24: observed MAE=0.675319 rank=3
[SoftImpute] Iter 25: observed MAE=0.675285 rank=3
[SoftImpute] Iter 26: observed MAE=0.675252 rank=3
[SoftImpute] Iter 27: observed MAE=0.675219 rank=3
[SoftImpute] Iter 28: observed MAE=0.675187 rank=3
[SoftImpute] Iter 29: observed MAE=0.675156 rank=3
[SoftImpute] Iter 30: observed MAE=0.675125 rank=3
[SoftImpute] Iter 31: observed MAE=0.675096 rank=3
[SoftImpute] Iter 32: observed MAE=0.675070 rank=3
[SoftImpute] Iter 33: observed MAE=0.675045 rank=3
[SoftImpute] Iter 34: observed MAE=0.675020 rank=3
[SoftImpute] Iter 35: observed MAE=0.674996 rank=3
[SoftImpute] Iter 36: observed MAE=0.674974 rank=3
[SoftImpute] Iter 37: observed MAE=0.674956 rank=3
[SoftImpute] Iter 38: observed MAE=0.674938 rank=3
[SoftImpute] Iter 39: observed MAE=0.674921 rank=3
[SoftImpute] Iter 40: observed MAE=0.674905 rank=3
[SoftImpute] Iter 41: observed MAE=0.674889 rank=3
[SoftImpute] Iter 42: observed MAE=0.674873 rank=3
[SoftImpute] Iter 43: observed MAE=0.674859 rank=3
[SoftImpute] Iter 44: observed MAE=0.674845 rank=3
[SoftImpute] Iter 45: observed MAE=0.674831 rank=3
[SoftImpute] Iter 46: observed MAE=0.674818 rank=3
[SoftImpute] Iter 47: observed MAE=0.674807 rank=3
[SoftImpute] Iter 48: observed MAE=0.674796 rank=3
[SoftImpute] Iter 49: observed MAE=0.674785 rank=3
[SoftImpute] Iter 50: observed MAE=0.674775 rank=3
[SoftImpute] Iter 51: observed MAE=0.674765 rank=3
[SoftImpute] Iter 52: observed MAE=0.674755 rank=3
[SoftImpute] Iter 53: observed MAE=0.674746 rank=3
[SoftImpute] Iter 54: observed MAE=0.674737 rank=3
[SoftImpute] Iter 55: observed MAE=0.674728 rank=3
[SoftImpute] Iter 56: observed MAE=0.674720 rank=3
[SoftImpute] Iter 57: observed MAE=0.674712 rank=3
[SoftImpute] Iter 58: observed MAE=0.674705 rank=3
[SoftImpute] Iter 59: observed MAE=0.674698 rank=3
[SoftImpute] Iter 60: observed MAE=0.674691 rank=3
[SoftImpute] Iter 61: observed MAE=0.674684 rank=3
[SoftImpute] Iter 62: observed MAE=0.674678 rank=3
[SoftImpute] Iter 63: observed MAE=0.674672 rank=3
[SoftImpute] Iter 64: observed MAE=0.674666 rank=3
[SoftImpute] Iter 65: observed MAE=0.674661 rank=3
[SoftImpute] Iter 66: observed MAE=0.674656 rank=3
[SoftImpute] Iter 67: observed MAE=0.674650 rank=3
[SoftImpute] Iter 68: observed MAE=0.674646 rank=3
[SoftImpute] Iter 69: observed MAE=0.674641 rank=3
[SoftImpute] Iter 70: observed MAE=0.674637 rank=3
[SoftImpute] Iter 71: observed MAE=0.674632 rank=3
[SoftImpute] Iter 72: observed MAE=0.674628 rank=3
[SoftImpute] Iter 73: observed MAE=0.674624 rank=3
[SoftImpute] Iter 74: observed MAE=0.674621 rank=3
[SoftImpute] Iter 75: observed MAE=0.674617 rank=3
[SoftImpute] Iter 76: observed MAE=0.674614 rank=3
[SoftImpute] Iter 77: observed MAE=0.674610 rank=3
[SoftImpute] Iter 78: observed MAE=0.674607 rank=3
[SoftImpute] Iter 79: observed MAE=0.674604 rank=3
[SoftImpute] Iter 80: observed MAE=0.674602 rank=3
[SoftImpute] Iter 81: observed MAE=0.674599 rank=3
[SoftImpute] Iter 82: observed MAE=0.674596 rank=3
[SoftImpute] Stopped after iteration 82 for lambda=36.686218

array([[  0.        ,   3.        ,   2.        , ...,   0.        ,
         22.        ,   7.25      ],
       [  1.        ,   1.        ,   1.        , ...,   0.        ,
         38.        ,  71.2833    ],
       [  1.        ,   3.        ,   1.        , ...,   0.        ,
         26.        ,   7.925     ],
       ...,
       [  0.        ,   3.        ,   1.        , ...,   2.        ,
          6.60840507,  23.45      ],
       [  1.        ,   1.        ,   2.        , ...,   0.        ,
         26.        ,  30.        ],
       [  0.        ,   3.        ,   2.        , ...,   0.        ,
         32.        ,   7.75      ]])

### Multiple Imputation by Chain  Equations

In [15]:
X_filled_mice = MICE().complete(X_incomplete)

[MICE] Completing matrix with shape (891, 7)
[MICE] Starting imputation round 1/110, elapsed time 0.000
[MICE] Starting imputation round 2/110, elapsed time 0.003
[MICE] Starting imputation round 3/110, elapsed time 0.004
[MICE] Starting imputation round 4/110, elapsed time 0.005
[MICE] Starting imputation round 5/110, elapsed time 0.005
[MICE] Starting imputation round 6/110, elapsed time 0.006
[MICE] Starting imputation round 7/110, elapsed time 0.006
[MICE] Starting imputation round 8/110, elapsed time 0.007
[MICE] Starting imputation round 9/110, elapsed time 0.007
[MICE] Starting imputation round 10/110, elapsed time 0.008
[MICE] Starting imputation round 11/110, elapsed time 0.010
[MICE] Starting imputation round 12/110, elapsed time 0.011
[MICE] Starting imputation round 13/110, elapsed time 0.012
[MICE] Starting imputation round 14/110, elapsed time 0.013
[MICE] Starting imputation round 15/110, elapsed time 0.013
[MICE] Starting imputation round 16/110, elapsed time 0.013
[MICE] Starting imputation round 17/110, elapsed time 0.014
[MICE] Starting imputation round 18/110, elapsed time 0.014
[MICE] Starting imputation round 19/110, elapsed time 0.014
[MICE] Starting imputation round 20/110, elapsed time 0.015
[MICE] Starting imputation round 21/110, elapsed time 0.015
[MICE] Starting imputation round 22/110, elapsed time 0.015
[MICE] Starting imputation round 23/110, elapsed time 0.015
[MICE] Starting imputation round 24/110, elapsed time 0.016
[MICE] Starting imputation round 25/110, elapsed time 0.016
[MICE] Starting imputation round 26/110, elapsed time 0.016
[MICE] Starting imputation round 27/110, elapsed time 0.017
[MICE] Starting imputation round 28/110, elapsed time 0.017
[MICE] Starting imputation round 29/110, elapsed time 0.018
[MICE] Starting imputation round 30/110, elapsed time 0.018
[MICE] Starting imputation round 31/110, elapsed time 0.018
[MICE] Starting imputation round 32/110, elapsed time 0.019
[MICE] Starting imputation round 33/110, elapsed time 0.020
[MICE] Starting imputation round 34/110, elapsed time 0.020
[MICE] Starting imputation round 35/110, elapsed time 0.020
[MICE] Starting imputation round 36/110, elapsed time 0.021
[MICE] Starting imputation round 37/110, elapsed time 0.021
[MICE] Starting imputation round 38/110, elapsed time 0.021
[MICE] Starting imputation round 39/110, elapsed time 0.022
[MICE] Starting imputation round 40/110, elapsed time 0.022
[MICE] Starting imputation round 41/110, elapsed time 0.023
[MICE] Starting imputation round 42/110, elapsed time 0.023
[MICE] Starting imputation round 43/110, elapsed time 0.023
[MICE] Starting imputation round 44/110, elapsed time 0.024
[MICE] Starting imputation round 45/110, elapsed time 0.024
[MICE] Starting imputation round 46/110, elapsed time 0.024
[MICE] Starting imputation round 47/110, elapsed time 0.025
[MICE] Starting imputation round 48/110, elapsed time 0.025
[MICE] Starting imputation round 49/110, elapsed time 0.025
[MICE] Starting imputation round 50/110, elapsed time 0.025
[MICE] Starting imputation round 51/110, elapsed time 0.026
[MICE] Starting imputation round 52/110, elapsed time 0.026
[MICE] Starting imputation round 53/110, elapsed time 0.026
[MICE] Starting imputation round 54/110, elapsed time 0.027
[MICE] Starting imputation round 55/110, elapsed time 0.027
[MICE] Starting imputation round 56/110, elapsed time 0.027
[MICE] Starting imputation round 57/110, elapsed time 0.028
[MICE] Starting imputation round 58/110, elapsed time 0.028
[MICE] Starting imputation round 59/110, elapsed time 0.028
[MICE] Starting imputation round 60/110, elapsed time 0.029
[MICE] Starting imputation round 61/110, elapsed time 0.029
[MICE] Starting imputation round 62/110, elapsed time 0.030
[MICE] Starting imputation round 63/110, elapsed time 0.030
[MICE] Starting imputation round 64/110, elapsed time 0.031
[MICE] Starting imputation round 65/110, elapsed time 0.031
[MICE] Starting imputation round 66/110, elapsed time 0.032
[MICE] Starting imputation round 67/110, elapsed time 0.032
[MICE] Starting imputation round 68/110, elapsed time 0.033
[MICE] Starting imputation round 69/110, elapsed time 0.033
[MICE] Starting imputation round 70/110, elapsed time 0.034
[MICE] Starting imputation round 71/110, elapsed time 0.034
[MICE] Starting imputation round 72/110, elapsed time 0.034
[MICE] Starting imputation round 73/110, elapsed time 0.035
[MICE] Starting imputation round 74/110, elapsed time 0.035
[MICE] Starting imputation round 75/110, elapsed time 0.035
[MICE] Starting imputation round 76/110, elapsed time 0.036
[MICE] Starting imputation round 77/110, elapsed time 0.036
[MICE] Starting imputation round 78/110, elapsed time 0.036
[MICE] Starting imputation round 79/110, elapsed time 0.037
[MICE] Starting imputation round 80/110, elapsed time 0.037
[MICE] Starting imputation round 81/110, elapsed time 0.037
[MICE] Starting imputation round 82/110, elapsed time 0.037
[MICE] Starting imputation round 83/110, elapsed time 0.038
[MICE] Starting imputation round 84/110, elapsed time 0.038
[MICE] Starting imputation round 85/110, elapsed time 0.038
[MICE] Starting imputation round 86/110, elapsed time 0.039
[MICE] Starting imputation round 87/110, elapsed time 0.039
[MICE] Starting imputation round 88/110, elapsed time 0.039
[MICE] Starting imputation round 89/110, elapsed time 0.040
[MICE] Starting imputation round 90/110, elapsed time 0.040
[MICE] Starting imputation round 91/110, elapsed time 0.041
[MICE] Starting imputation round 92/110, elapsed time 0.041
[MICE] Starting imputation round 93/110, elapsed time 0.042
[MICE] Starting imputation round 94/110, elapsed time 0.042
[MICE] Starting imputation round 95/110, elapsed time 0.042
[MICE] Starting imputation round 96/110, elapsed time 0.043
[MICE] Starting imputation round 97/110, elapsed time 0.043
[MICE] Starting imputation round 98/110, elapsed time 0.043
[MICE] Starting imputation round 99/110, elapsed time 0.044
[MICE] Starting imputation round 100/110, elapsed time 0.044
[MICE] Starting imputation round 101/110, elapsed time 0.044
[MICE] Starting imputation round 102/110, elapsed time 0.045
[MICE] Starting imputation round 103/110, elapsed time 0.045
[MICE] Starting imputation round 104/110, elapsed time 0.045
[MICE] Starting imputation round 105/110, elapsed time 0.045
[MICE] Starting imputation round 106/110, elapsed time 0.046
[MICE] Starting imputation round 107/110, elapsed time 0.046
[MICE] Starting imputation round 108/110, elapsed time 0.046
[MICE] Starting imputation round 109/110, elapsed time 0.047
[MICE] Starting imputation round 110/110, elapsed time 0.047

### Getting RMSE for the methods' comparison

In [16]:
from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(predictions, targets, name):
    rmse=sqrt(mean_squared_error(~np.isnan(predictions), ~np.isnan(targets)))
    print ("{} RMSE: %0.10f" % rmse).format(name)

rmse(X_filled_knn[missing_mask], X[missing_mask], "Knn")
rmse(X_filled_nnm[missing_mask], X[missing_mask], "Nnm")
rmse(X_filled_softnorm[missing_mask], X[missing_mask], "SoftImp Norm")
rmse(X_filled_soft[missing_mask], X[missing_mask], "SoftImp")
rmse(X_filled_mice[missing_mask], X[missing_mask], "Mice")

Knn RMSE: 0.1242259987
Nnm RMSE: 0.1242259987
SoftImp Norm RMSE: 0.1242259987
SoftImp RMSE: 0.1242259987
Mice RMSE: 0.1242259987

/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/metrics/regression.py:232: DeprecationWarning: numpy boolean subtract, the `-` operator, is deprecated, use the bitwise_xor, the `^` operator, or the logical_xor function instead.
  output_errors = np.average((y_true - y_pred) ** 2, axis=0,
/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/metrics/regression.py:232: DeprecationWarning: numpy boolean subtract, the `-` operator, is deprecated, use the bitwise_xor, the `^` operator, or the logical_xor function instead.
  output_errors = np.average((y_true - y_pred) ** 2, axis=0,
/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/metrics/regression.py:232: DeprecationWarning: numpy boolean subtract, the `-` operator, is deprecated, use the bitwise_xor, the `^` operator, or the logical_xor function instead.
  output_errors = np.average((y_true - y_pred) ** 2, axis=0,
/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/metrics/regression.py:232: DeprecationWarning: numpy boolean subtract, the `-` operator, is deprecated, use the bitwise_xor, the `^` operator, or the logical_xor function instead.
  output_errors = np.average((y_true - y_pred) ** 2, axis=0,
/Users/Marina/anaconda/lib/python2.7/site-packages/sklearn/metrics/regression.py:232: DeprecationWarning: numpy boolean subtract, the `-` operator, is deprecated, use the bitwise_xor, the `^` operator, or the logical_xor function instead.
  output_errors = np.average((y_true - y_pred) ** 2, axis=0,

#### Because all RMSEs are the same, it seems that all types of imputations led to the same result. I decided to double check this by running several algorithms with selected types of imputation. I reasoned that if the algorithms’ scores match, all types of imputations indeed led to the same result.

### Checking Knn Imputation

In [17]:
cols_to_merge = ['Embarked', 'Fare','Pclass','Survived'];
df_merge=df[cols_to_merge];

In [18]:


knn_frame = pd.DataFrame({'Survived':X_filled_knn[:,0],'Pclass':X_filled_knn[:,1],\
                       'Sex':X_filled_knn[:,2],'SibSp':X_filled_knn[:,3],
                        'Parch':X_filled_knn[:,4],'Age':X_filled_knn[:,5],"Fare":X_filled_knn[:,6]});

df_knn = pd.concat([knn_frame, df_merge], axis=1, join='inner').dropna()
df_knn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null float64
Sex         889 non-null float64
SibSp       889 non-null float64
Survived    889 non-null float64
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
dtypes: float64(8), int64(2), object(1)
memory usage: 83.3+ KB

In [19]:
df_knn=df_knn.T.drop_duplicates().T

df_knn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null object
Fare        889 non-null object
Parch       889 non-null object
Pclass      889 non-null object
Sex         889 non-null object
SibSp       889 non-null object
Survived    889 non-null object
Embarked    889 non-null object
dtypes: object(8)
memory usage: 62.5+ KB

In [20]:
df_knn['Pclass']=df_knn['Pclass'].astype(int);
df_knn['Survived']=df_knn['Survived'].astype(int);
df_knn['Sex']=df_knn['Sex'].astype(int);
df_knn['Age']=df_knn['Age'].astype(float);
df_knn['SibSp']=df_knn['SibSp'].astype(float);
df_knn['Parch']=df_knn['Parch'].astype(float);
df_knn['Fare']=df_knn['Fare'].astype(float);

df_knn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null int64
Sex         889 non-null int64
SibSp       889 non-null float64
Survived    889 non-null int64
Embarked    889 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 62.5+ KB

In [21]:
from sklearn.preprocessing import StandardScaler
cont_var=['Fare','Age','Parch','SibSp']
x=df_knn[cont_var]


X_norm =  StandardScaler().fit_transform(x);
df_stand=pd.DataFrame(X_norm,columns=['Fare','Age','Parch','SibSp'])
len(df_stand)

889

In [22]:

X = patsy.dmatrix('~ C(Pclass)+C(Sex) + C(Embarked)', df_knn)

df_cat=pd.DataFrame(X, columns=X.design_info.column_names)
df_cat.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S]
0,1.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,1.0,0.0,1.0

In [23]:
df2 = pd.concat([df_cat, df_stand], axis=1)
df2.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S],Fare,Age,Parch,SibSp
0,1.0,0.0,1.0,1.0,0.0,1.0,-0.500240,-0.561925,-0.474326,0.431350
1,1.0,0.0,0.0,0.0,0.0,0.0,0.788947,0.604068,-0.474326,0.431350
2,1.0,0.0,1.0,0.0,0.0,1.0,-0.486650,-0.270427,-0.474326,-0.475199
3,1.0,0.0,0.0,0.0,0.0,1.0,0.422861,0.385444,-0.474326,0.431350
4,1.0,0.0,1.0,1.0,0.0,1.0,-0.484133,0.385444,-0.474326,-0.475199

In [24]:
X_knn=df2;
y_knn=df_knn['Survived'];

In [25]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

cv = StratifiedKFold(y_knn, n_folds=10, shuffle=True, random_state=5)


lg1 = LogisticRegression(random_state=5)
dt1  = DecisionTreeClassifier(class_weight='balanced',min_samples_split=50,random_state=5)
bdt1 = BaggingClassifier(DecisionTreeClassifier(random_state=5),random_state=5)
rf1 = RandomForestClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
et1 = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
abc1 = AdaBoostClassifier(random_state=5)
gbst1 = GradientBoostingClassifier(random_state=5)
bnb1 = BernoulliNB()
svc1= SVC(kernel='linear',probability=True,random_state=5)


def score(model, name):
    s = cross_val_score(model, X_knn, y_knn, cv=cv, n_jobs=-1)
    print "{} Score:\t{:0.3} ± {:0.3}".format(name, s.mean().round(3), s.std().round(3))
        
score(dt1,"Decision Tree")
score(lg1, "Logistic Regres")
score(bdt1, "Bagging DT")
score(rf1, "Random Forest")
score(et1, "Extra Trees")
score(abc1, "Ada Boost")
score(gbst1, "Grad Boosting")
score(bnb1, "Bernoulli NB")
score(svc1, "SVC")

Decision Tree Score:	0.813 ± 0.055
Logistic Regres Score:	0.808 ± 0.039
Bagging DT Score:	0.826 ± 0.039
Random Forest Score:	0.837 ± 0.045
Extra Trees Score:	0.812 ± 0.041
Ada Boost Score:	0.802 ± 0.042
Grad Boosting Score:	0.843 ± 0.031
Bernoulli NB Score:	0.775 ± 0.026
SVC Score:	0.785 ± 0.039

### Checking Convex Optimization Imputation

In [26]:

nnm_frame = pd.DataFrame({'Survived':X_filled_nnm[:,0],'Pclass':X_filled_nnm[:,1],\
                       'Sex':X_filled_nnm[:,2],'SibSp':X_filled_nnm[:,3],
                        'Parch':X_filled_nnm[:,4],'Age':X_filled_nnm[:,5],"Fare":X_filled_nnm[:,6]});

df_nnm = pd.concat([nnm_frame, df_merge], axis=1, join='inner').dropna()
df_nnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null float64
Sex         889 non-null float64
SibSp       889 non-null float64
Survived    889 non-null float64
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
dtypes: float64(8), int64(2), object(1)
memory usage: 83.3+ KB

In [27]:
df_nnm=df_nnm.T.drop_duplicates().T

df_nnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null object
Fare        889 non-null object
Parch       889 non-null object
Pclass      889 non-null object
Sex         889 non-null object
SibSp       889 non-null object
Survived    889 non-null object
Embarked    889 non-null object
dtypes: object(8)
memory usage: 62.5+ KB

In [28]:
df_nnm['Pclass']=df_nnm['Pclass'].astype(int);
df_nnm['Survived']=df_nnm['Survived'].astype(int);
df_nnm['Sex']=df_nnm['Sex'].astype(int);
df_nnm['Age']=df_nnm['Age'].astype(float);
df_nnm['SibSp']=df_nnm['SibSp'].astype(float);
df_nnm['Parch']=df_nnm['Parch'].astype(float);
df_nnm['Fare']=df_nnm['Fare'].astype(float);

df_nnm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null int64
Sex         889 non-null int64
SibSp       889 non-null float64
Survived    889 non-null int64
Embarked    889 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 62.5+ KB

In [29]:
from sklearn.preprocessing import StandardScaler
cont_var=['Fare','Age','Parch','SibSp']
x=df_nnm[cont_var]


X_norm =  StandardScaler().fit_transform(x);
df_stand=pd.DataFrame(X_norm,columns=['Fare','Age','Parch','SibSp'])
len(df_stand)

889

In [30]:

X = patsy.dmatrix('~ C(Pclass)+C(Sex) + C(Embarked)', df_nnm)

df_cat=pd.DataFrame(X, columns=X.design_info.column_names)
df_cat.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S]
0,1.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,1.0,0.0,1.0

In [31]:
df2 = pd.concat([df_cat, df_stand], axis=1)
df2.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S],Fare,Age,Parch,SibSp
0,1.0,0.0,1.0,1.0,0.0,1.0,-0.500240,-0.192693,-0.474326,0.431350
1,1.0,0.0,0.0,0.0,0.0,0.0,0.788947,0.805479,-0.474326,0.431350
2,1.0,0.0,1.0,0.0,0.0,1.0,-0.486650,0.056850,-0.474326,-0.475199
3,1.0,0.0,0.0,0.0,0.0,1.0,0.422861,0.618322,-0.474326,0.431350
4,1.0,0.0,1.0,1.0,0.0,1.0,-0.484133,0.618322,-0.474326,-0.475199

In [32]:
X_nnm=df2;
y_nnm=df_nnm['Survived'];

In [33]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

cv = StratifiedKFold(y_nnm, n_folds=10, shuffle=True, random_state=5)

# X_resampled1
# y_resampled1

lg2= LogisticRegression(random_state=5)
dt2 = DecisionTreeClassifier(class_weight='balanced',min_samples_split=50,random_state=5)
bdt2 = BaggingClassifier(DecisionTreeClassifier(random_state=5),random_state=5)
rf2 = RandomForestClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
et2 = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
abc2 = AdaBoostClassifier(random_state=5)
gbst2 = GradientBoostingClassifier(random_state=5)
bnb2 = BernoulliNB()
svc2= SVC(kernel='linear',probability=True,random_state=5)


def score(model, name):
    s = cross_val_score(model, X_nnm, y_nnm, cv=cv, n_jobs=-1)
    print "{} Score:\t{:0.3} ± {:0.3}".format(name, s.mean().round(3), s.std().round(3))
        
score(dt2,"Decision Tree")
score(lg2, "Logistic Regres")
score(bdt2, "Bagging DT")
score(rf2, "Random Forest")
score(et2, "Extra Trees")
score(abc2, "Ada Boost")
score(gbst2, "Grad Boosting")
score(bnb2, "Bernoulli NB")
score(svc2, "SVC")

Decision Tree Score:	0.784 ± 0.049
Logistic Regres Score:	0.801 ± 0.046
Bagging DT Score:	0.813 ± 0.045
Random Forest Score:	0.803 ± 0.047
Extra Trees Score:	0.804 ± 0.034
Ada Boost Score:	0.798 ± 0.043
Grad Boosting Score:	0.823 ± 0.042
Bernoulli NB Score:	0.754 ± 0.038
SVC Score:	0.786 ± 0.039

### Checking Spectral Regulization Algorithm

### Normalized

In [34]:
# X_filled_softimpute = biscaler.inverse_transform(X_filled_softnorm)

# X_filled_softimpute


softnorm_frame = pd.DataFrame({'Survived':X_filled_softimpute[:,0],'Pclass':X_filled_softimpute[:,1],\
                       'Sex':X_filled_softimpute[:,2],'SibSp':X_filled_softimpute[:,3],
                        'Parch':X_filled_softimpute[:,4],'Age':X_filled_softimpute[:,5],"Fare":X_filled_softimpute[:,6]});

In [35]:
cols_to_merge = ['Embarked', 'Fare','Pclass','Survived','Sex', 'SibSp','Parch'];
df_merge=df[cols_to_merge];

In [36]:
df_softnorm = pd.concat([df_merge,softnorm_frame.iloc[:, 0:2]], axis=1, join='inner').dropna()
df_softnorm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 9 columns):
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
Sex         889 non-null object
SibSp       889 non-null int64
Parch       889 non-null int64
Age         889 non-null float64
Fare        889 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 69.5+ KB

In [37]:
df_softnorm=df_softnorm.iloc[:,:-1]

df_softnorm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
Sex         889 non-null object
SibSp       889 non-null int64
Parch       889 non-null int64
Age         889 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [38]:
df_softnorm['SibSp']=df_softnorm['SibSp'].astype(float);
df_softnorm['Parch']=df_softnorm['Parch'].astype(float);



df_softnorm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
Sex         889 non-null object
SibSp       889 non-null float64
Parch       889 non-null float64
Age         889 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 62.5+ KB

In [39]:
from sklearn.preprocessing import StandardScaler
cont_var=['Fare','Parch','SibSp','Age']
x=df_softnorm[cont_var]


X_norm =  StandardScaler().fit_transform(x);
df_stand=pd.DataFrame(X_norm,columns=['Fare','Parch','Age','SibSp'])
len(df_stand)

889

In [40]:
X = patsy.dmatrix('~ C(Pclass)+C(Sex)+ C(Embarked)', df_softnorm)

df_cat=pd.DataFrame(X, columns=X.design_info.column_names)
df_cat.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.male],C(Embarked)[T.Q],C(Embarked)[T.S]
0,1.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,1.0,0.0,1.0

In [41]:
df3 = pd.concat([df_cat, df_stand], axis=1)
df3.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.male],C(Embarked)[T.Q],C(Embarked)[T.S],Fare,Parch,Age,SibSp
0,1.0,0.0,1.0,1.0,0.0,1.0,-0.500240,-0.474326,0.431350,-0.586701
1,1.0,0.0,0.0,0.0,0.0,0.0,0.788947,-0.474326,0.431350,0.646958
2,1.0,0.0,1.0,0.0,0.0,1.0,-0.486650,-0.474326,-0.475199,-0.278286
3,1.0,0.0,0.0,0.0,0.0,1.0,0.422861,-0.474326,0.431350,0.415647
4,1.0,0.0,1.0,1.0,0.0,1.0,-0.484133,-0.474326,-0.475199,0.415647

In [42]:
X_softnorm=df3;
y_softnorm=df_softnorm['Survived'];

In [43]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

cv = StratifiedKFold(y_softnorm, n_folds=10, shuffle=True, random_state=5)


lg3= LogisticRegression(random_state=5)
dt3 = DecisionTreeClassifier(class_weight='balanced',min_samples_split=50,random_state=5)
bdt3 = BaggingClassifier(DecisionTreeClassifier(random_state=5),random_state=5)
rf3 = RandomForestClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
et3 = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
abc3 = AdaBoostClassifier(random_state=5)
gbst3 = GradientBoostingClassifier(random_state=5)
bnb3 = BernoulliNB()
svc3= SVC(kernel='linear',probability=True,random_state=5)


def score(model, name):
    s = cross_val_score(model, X_softnorm, y_softnorm, cv=cv, n_jobs=-1)
    print "{} Outter Score:\t{:0.3} ± {:0.3}".format(name, s.mean().round(3), s.std().round(3))
        
score(dt3,"Decision Tree")
score(lg3, "Logistic Regres")
score(bdt3, "Bagging DT")
score(rf3, "Random Forest")
score(et3, "Extra Trees")
score(abc3, "Ada Boost")
score(gbst3, "Grad Boosting")
score(bnb3, "Bernoulli NB")
score(svc3, "SVC")

Decision Tree Outter Score:	0.809 ± 0.057
Logistic Regres Outter Score:	0.802 ± 0.038
Bagging DT Outter Score:	0.832 ± 0.043
Random Forest Outter Score:	0.817 ± 0.045
Extra Trees Outter Score:	0.794 ± 0.045
Ada Boost Outter Score:	0.804 ± 0.045
Grad Boosting Outter Score:	0.827 ± 0.039
Bernoulli NB Outter Score:	0.753 ± 0.038
SVC Outter Score:	0.786 ± 0.039

### Regular No Biscale

In [44]:
soft_frame = pd.DataFrame({'Survived':X_filled_soft[:,0],'Pclass':X_filled_soft[:,1],\
                       'Sex':X_filled_soft[:,2],'SibSp':X_filled_soft[:,3],
                        'Parch':X_filled_soft[:,4],'Age':X_filled_soft[:,5],"Fare":X_filled_soft[:,6]});

df_soft = pd.concat([soft_frame, df_merge], axis=1, join='inner').dropna()
df_soft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 14 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null float64
Sex         889 non-null float64
SibSp       889 non-null float64
Survived    889 non-null float64
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
Sex         889 non-null object
SibSp       889 non-null int64
Parch       889 non-null int64
dtypes: float64(8), int64(4), object(2)
memory usage: 104.2+ KB

In [45]:
df_soft=df_soft.iloc[:,0:8]
df_soft.info()

df_soft

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null float64
Sex         889 non-null float64
SibSp       889 non-null float64
Survived    889 non-null float64
Embarked    889 non-null object
dtypes: float64(7), object(1)
memory usage: 62.5+ KB

           Age      Fare  Parch  Pclass  Sex  SibSp  Survived Embarked
0    22.000000    7.2500    0.0     3.0  2.0    1.0       0.0        S
1    38.000000   71.2833    0.0     1.0  1.0    1.0       1.0        C
2    26.000000    7.9250    0.0     3.0  1.0    0.0       1.0        S
3    35.000000   53.1000    0.0     1.0  1.0    1.0       1.0        S
4    35.000000    8.0500    0.0     3.0  2.0    0.0       0.0        S
5     4.636919    8.4583    0.0     3.0  2.0    0.0       0.0        Q
6    54.000000   51.8625    0.0     1.0  2.0    0.0       0.0        S
7     2.000000   21.0750    1.0     3.0  2.0    3.0       0.0        S
8    27.000000   11.1333    2.0     3.0  1.0    0.0       1.0        S
9    14.000000   30.0708    0.0     2.0  1.0    1.0       1.0        C
10    4.000000   16.7000    1.0     3.0  1.0    1.0       1.0        S
11   58.000000   26.5500    0.0     1.0  1.0    0.0       1.0        S
12   20.000000    8.0500    0.0     3.0  2.0    0.0       0.0        S
13   39.000000   31.2750    5.0     3.0  2.0    1.0       0.0        S
14   14.000000    7.8542    0.0     3.0  1.0    0.0       0.0        S
15   55.000000   16.0000    0.0     2.0  1.0    0.0       1.0        S
16    2.000000   29.1250    1.0     3.0  2.0    4.0       0.0        Q
17    4.865324   13.0000    0.0     2.0  2.0    0.0       1.0        S
18   31.000000   18.0000    0.0     3.0  1.0    1.0       0.0        S
19    3.943561    7.2250    0.0     3.0  1.0    0.0       1.0        C
20   35.000000   26.0000    0.0     2.0  2.0    0.0       0.0        S
21   34.000000   13.0000    0.0     2.0  2.0    0.0       1.0        S
22   15.000000    8.0292    0.0     3.0  1.0    0.0       1.0        Q
23   28.000000   35.5000    0.0     1.0  2.0    0.0       1.0        S
24    8.000000   21.0750    1.0     3.0  1.0    3.0       0.0        S
25   38.000000   31.3875    5.0     3.0  1.0    1.0       1.0        S
26    4.422987    7.2250    0.0     3.0  2.0    0.0       0.0        C
27   19.000000  263.0000    2.0     1.0  2.0    3.0       0.0        S
28    4.057041    7.8792    0.0     3.0  1.0    0.0       1.0        Q
29    4.539346    7.8958    0.0     3.0  2.0    0.0       0.0        S
..         ...       ...    ...     ...  ...    ...       ...      ...
861  21.000000   11.5000    0.0     2.0  2.0    1.0       0.0        S
862  48.000000   25.9292    0.0     1.0  1.0    0.0       1.0        S
863  14.165058   69.5500    2.0     3.0  1.0    8.0       0.0        S
864  24.000000   13.0000    0.0     2.0  2.0    0.0       0.0        S
865  42.000000   13.0000    0.0     2.0  1.0    0.0       1.0        S
866  27.000000   13.8583    0.0     2.0  1.0    1.0       1.0        C
867  31.000000   50.4958    0.0     1.0  2.0    0.0       0.0        S
868   4.817615    9.5000    0.0     3.0  2.0    0.0       0.0        S
869   4.000000   11.1333    1.0     3.0  2.0    1.0       1.0        S
870  26.000000    7.8958    0.0     3.0  2.0    0.0       0.0        S
871  47.000000   52.5542    1.0     1.0  1.0    1.0       1.0        S
872  33.000000    5.0000    0.0     1.0  2.0    0.0       0.0        S
873  47.000000    9.0000    0.0     3.0  2.0    0.0       0.0        S
874  28.000000   24.0000    0.0     2.0  1.0    1.0       1.0        C
875  15.000000    7.2250    0.0     3.0  1.0    0.0       1.0        C
876  20.000000    9.8458    0.0     3.0  2.0    0.0       0.0        S
877  19.000000    7.8958    0.0     3.0  2.0    0.0       0.0        S
878   4.539346    7.8958    0.0     3.0  2.0    0.0       0.0        S
879  56.000000   83.1583    1.0     1.0  1.0    0.0       1.0        C
880  25.000000   26.0000    1.0     2.0  1.0    0.0       1.0        S
881  33.000000    7.8958    0.0     3.0  2.0    0.0       0.0        S
882  22.000000   10.5167    0.0     3.0  1.0    0.0       0.0        S
883  28.000000   10.5000    0.0     2.0  2.0    0.0       0.0        S
884  25.000000    7.0500    0.0     3.0  2.0    0.0       0.0        S
885  39.000000   29.1250    5.0     3.0  1.0    0.0       0.0        Q
886  27.000000   13.0000    0.0     2.0  2.0    0.0       0.0        S
887  19.000000   30.0000    0.0     1.0  1.0    0.0       1.0        S
888   6.608405   23.4500    2.0     3.0  1.0    1.0       0.0        S
889  26.000000   30.0000    0.0     1.0  2.0    0.0       1.0        C
890  32.000000    7.7500    0.0     3.0  2.0    0.0       0.0        Q

[889 rows x 8 columns]

In [46]:
df_soft['Pclass']=df_soft['Pclass'].astype(int);
df_soft['Survived']=df_soft['Survived'].astype(int);
df_soft['Sex']=df_soft['Sex'].astype(int);


df_soft.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null int64
Sex         889 non-null int64
SibSp       889 non-null float64
Survived    889 non-null int64
Embarked    889 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 62.5+ KB

In [47]:
from sklearn.preprocessing import StandardScaler
cont_var=['Fare','Parch','SibSp','Age']
x=df_soft[cont_var]


X_norm =  StandardScaler().fit_transform(x);
df_stand=pd.DataFrame(X_norm,columns=['Fare','Parch','Age','SibSp'])
len(df_stand)

889

In [48]:
X = patsy.dmatrix('~ C(Pclass)+C(Sex)+ C(Embarked)', df_soft)

df_cat=pd.DataFrame(X, columns=X.design_info.column_names)
df_cat.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S]
0,1.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,1.0,0.0,1.0

In [49]:
df4 = pd.concat([df_cat, df_stand], axis=1)
df4.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S],Fare,Parch,Age,SibSp
0,1.0,0.0,1.0,1.0,0.0,1.0,-0.500240,-0.474326,0.431350,-0.189658
1,1.0,0.0,0.0,0.0,0.0,0.0,0.788947,-0.474326,0.431350,0.805884
2,1.0,0.0,1.0,0.0,0.0,1.0,-0.486650,-0.474326,-0.475199,0.059227
3,1.0,0.0,0.0,0.0,0.0,1.0,0.422861,-0.474326,0.431350,0.619220
4,1.0,0.0,1.0,1.0,0.0,1.0,-0.484133,-0.474326,-0.475199,0.619220

In [50]:
X_soft=df4;
y_soft=df_soft['Survived'].values;

In [51]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

cv = StratifiedKFold(y_soft, n_folds=10, shuffle=True, random_state=5)


lg3= LogisticRegression(random_state=5)
dt3 = DecisionTreeClassifier(class_weight='balanced',min_samples_split=50,random_state=5)
bdt3 = BaggingClassifier(DecisionTreeClassifier(random_state=5),random_state=5)
rf3 = RandomForestClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
et3 = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
abc3 = AdaBoostClassifier(random_state=5)
gbst3 = GradientBoostingClassifier(random_state=5)
bnb3 = BernoulliNB()
svc3= SVC(kernel='linear',probability=True,random_state=5)


def score(model, name):
    s = cross_val_score(model, X_soft, y_soft, cv=cv, n_jobs=-1)
    print "{} Outter Score:\t{:0.3} ± {:0.3}".format(name, s.mean().round(3), s.std().round(3))
        
score(dt3,"Decision Tree")
score(lg3, "Logistic Regres")
score(bdt3, "Bagging DT")
score(rf3, "Random Forest")
score(et3, "Extra Trees")
score(abc3, "Ada Boost")
score(gbst3, "Grad Boosting")
score(bnb3, "Bernoulli NB")
score(svc3, "SVC")

Decision Tree Outter Score:	0.781 ± 0.049
Logistic Regres Outter Score:	0.8 ± 0.048
Bagging DT Outter Score:	0.81 ± 0.032
Random Forest Outter Score:	0.816 ± 0.04
Extra Trees Outter Score:	0.787 ± 0.029
Ada Boost Outter Score:	0.795 ± 0.041
Grad Boosting Outter Score:	0.826 ± 0.037
Bernoulli NB Outter Score:	0.754 ± 0.038
SVC Outter Score:	0.786 ± 0.039

### Checking MICE Imputation

In [545]:
mice_frame = pd.DataFrame({'Survived':X_filled_mice[:,0],'Pclass':X_filled_mice[:,1],\
                       'Sex':X_filled_mice[:,2],'SibSp':X_filled_mice[:,3],
                        'Parch':X_filled_mice[:,4],'Age':X_filled_mice[:,5],"Fare":X_filled_mice[:,6]});

df_mice = pd.concat([mice_frame, df_merge], axis=1, join='inner').dropna()
df_mice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 11 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null float64
Sex         889 non-null float64
SibSp       889 non-null float64
Survived    889 non-null float64
Embarked    889 non-null object
Fare        889 non-null float64
Pclass      889 non-null int64
Survived    889 non-null int64
dtypes: float64(8), int64(2), object(1)
memory usage: 83.3+ KB

In [546]:
df_mice=df_mice.T.drop_duplicates().T

df_mice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null object
Fare        889 non-null object
Parch       889 non-null object
Pclass      889 non-null object
Sex         889 non-null object
SibSp       889 non-null object
Survived    889 non-null object
Embarked    889 non-null object
dtypes: object(8)
memory usage: 62.5+ KB

In [547]:
df_mice['Pclass']=df_mice['Pclass'].astype(int);
df_mice['Survived']=df_mice['Survived'].astype(int);
df_mice['Sex']=df_mice['Sex'].astype(int);
df_mice['Age']=df_mice['Age'].astype(float);
df_mice['SibSp']=df_mice['SibSp'].astype(float);
df_mice['Parch']=df_mice['Parch'].astype(float);
df_mice['Fare']=df_mice['Fare'].astype(float);

df_mice.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null float64
Fare        889 non-null float64
Parch       889 non-null float64
Pclass      889 non-null int64
Sex         889 non-null int64
SibSp       889 non-null float64
Survived    889 non-null int64
Embarked    889 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 62.5+ KB

In [548]:
from sklearn.preprocessing import StandardScaler
cont_var=['Fare','Parch','SibSp','Age']
x=df_mice[cont_var]


X_norm =  StandardScaler().fit_transform(x);
df_stand=pd.DataFrame(X_norm,columns=['Fare','Parch','Age','SibSp'])
len(df_stand)

889

In [549]:
X = patsy.dmatrix('~ C(Pclass)+C(Sex)+ C(Embarked)', df_mice)

df_cat=pd.DataFrame(X, columns=X.design_info.column_names)
df_cat.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S]
0,1.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.0,1.0,1.0,0.0,1.0

In [550]:
df2 = pd.concat([df_cat, df_stand], axis=1)
df2.head()

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.2],C(Embarked)[T.Q],C(Embarked)[T.S],Fare,Parch,Age,SibSp
0,1.0,0.0,1.0,1.0,0.0,1.0,-0.500240,-0.474326,0.431350,-0.580877
1,1.0,0.0,0.0,0.0,0.0,0.0,0.788947,-0.474326,0.431350,0.649514
2,1.0,0.0,1.0,0.0,0.0,1.0,-0.486650,-0.474326,-0.475199,-0.273280
3,1.0,0.0,0.0,0.0,0.0,1.0,0.422861,-0.474326,0.431350,0.418816
4,1.0,0.0,1.0,1.0,0.0,1.0,-0.484133,-0.474326,-0.475199,0.418816

In [551]:
X_mice=df2;
y_mice=df_mice['Survived'];

In [552]:
from sklearn.cross_validation import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.svm import SVC

cv = StratifiedKFold(y_mice, n_folds=10, shuffle=True, random_state=5)

# X_resampled1
# y_resampled1

lg3= LogisticRegression(random_state=5)
dt3 = DecisionTreeClassifier(class_weight='balanced',min_samples_split=50,random_state=5)
bdt3 = BaggingClassifier(DecisionTreeClassifier(random_state=5),random_state=5)
rf3 = RandomForestClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
et3 = ExtraTreesClassifier(class_weight='balanced', n_jobs=-1,random_state=5)
abc3 = AdaBoostClassifier(random_state=5)
gbst3 = GradientBoostingClassifier(random_state=5)
bnb3 = BernoulliNB()
svc3= SVC(kernel='linear',probability=True,random_state=5)


def score(model, name):
    s = cross_val_score(model, X_mice, y_mice, cv=cv, n_jobs=-1)
    print "{} Outter Score:\t{:0.3} ± {:0.3}".format(name, s.mean().round(3), s.std().round(3))
        
score(dt3,"Decision Tree")
score(lg3, "Logistic Regres")
score(bdt3, "Bagging DT")
score(rf3, "Random Forest")
score(et3, "Extra Trees")
score(abc3, "Ada Boost")
score(gbst3, "Grad Boosting")
score(bnb3, "Bernoulli NB")
score(svc3, "SVC")

Decision Tree Outter Score:	0.794 ± 0.052
Logistic Regres Outter Score:	0.808 ± 0.038
Bagging DT Outter Score:	0.805 ± 0.041
Random Forest Outter Score:	0.825 ± 0.053
Extra Trees Outter Score:	0.781 ± 0.049
Ada Boost Outter Score:	0.804 ± 0.047
Grad Boosting Outter Score:	0.828 ± 0.038
Bernoulli NB Outter Score:	0.765 ± 0.028
SVC Outter Score:	0.786 ± 0.039

In [53]:
df_knn.to_csv(path_or_buf="../assets/titanic_imp.csv", index=False)